@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 400;
  src:
    url("fonts/comfortaa-regular.woff2") format("woff2"),
    url("fonts/comfortaa-regular.woff") format("woff");
  font-display: swap;
  unicode-range: U+0410-044f, U+0000-007f;
}

@font-face {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  src:
    url("fonts/comfortaa-bold.woff2") format("woff2"),
    url("fonts/comfortaa-bold.woff") format("woff");
  font-display: swap;
  unicode-range: U+0410-044f, U+0000-007f;
}

/* Глобальные стили */

:root {
  --dark: #1b1b1b;
  --opacity-dark: rgba(27, 27, 27, .4);
  --selected: #ececec;
  --light: #ffffff;
  --error: #e12b56;

  --font-primary: "Comfortaa", "Arial", sans-serif;
  --font-emoji: "Noto Color Emoji", "Comfortaa", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: url("image/cursor.svg"), auto;
}

::-moz-selection {
  color: var(--light);
  background-color: var(--dark);
}

::selection {
  color: var(--light);
  background-color: var(--dark);
}

::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 640px) {
  ::-webkit-scrollbar {
    width: 16px;
  }
}

::-webkit-scrollbar-track {
  background-color: var(--light);
}

::-webkit-scrollbar-thumb {
  height: 40px;
  background-color: var(--opacity-dark);
  border-radius: 8px;
}

/* UI */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field {
  padding: min(1.6rem, 20px);
  font-family: inherit;
  font-size: min(1.8rem, 23px);
  line-height: 130%;
  background-color: var(--light);
  outline: 2px solid var(--dark);
  border: none;
  border-radius: 8px;
  cursor: url("image/cursor-text.svg"), text;
  transition: all 0.3s linear;

  &::-webkit-input-placeholder {
    color: rgba(27, 27, 27, 0.6);
  }

  &::-moz-placeholder {
    color: rgba(27, 27, 27, 0.6);
  }

  &:-ms-input-placeholder {
    color: rgba(27, 27, 27, 0.6);
  }

  &::-ms-input-placeholder {
    color: rgba(27, 27, 27, 0.6);
  }

  &::placeholder {
    color: rgba(27, 27, 27, 0.6);
  }

  &:hover,
  &:focus-visible,
  &:active {
    outline: 2px solid var(--opacity-dark);
  }
}

.field::-webkit-outer-spin-button,
.field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.loader {
  width: min(1.4rem, 16px);
  aspect-ratio: 1;
  border-radius: 50%;
  -webkit-animation-name: loaderMobile;
  animation-name: loaderMobile;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes loaderMobile {
  0% {
    box-shadow: min(2rem, 22px) 0 #000, max(-2rem, -22px) 0 #0002;
    background: #000;
  }

  33% {
    box-shadow: min(2rem, 22px) 0 #000, max(-2rem, -22px) 0 #0002;
    background: #0002;
  }

  66% {
    box-shadow: min(2rem, 22px) 0 #0002, max(-2rem, -22px) 0 #000;
    background: #0002;
  }

  100% {
    box-shadow: min(2rem, 22px) 0 #0002, max(-2rem, -22px) 0 #000;
    background: #000;
  }
}

@keyframes loaderMobile {
  0% {
    box-shadow: min(2rem, 22px) 0 #000, max(-2rem, -22px) 0 #0002;
    background: #000;
  }

  33% {
    box-shadow: min(2rem, 22px) 0 #000, max(-2rem, -22px) 0 #0002;
    background: #0002;
  }

  66% {
    box-shadow: min(2rem, 22px) 0 #0002, max(-2rem, -22px) 0 #000;
    background: #0002;
  }

  100% {
    box-shadow: min(2rem, 22px) 0 #0002, max(-2rem, -22px) 0 #000;
    background: #000;
  }
}

@-webkit-keyframes loaderTablet {
  0% {
    box-shadow: min(2.5rem, 30px) 0 #000, max(-2.5rem, -30px) 0 #0002;
    background: #000;
  }

  33% {
    box-shadow: min(2.5rem, 30px) 0 #000, max(-2.5rem, -30px) 0 #0002;
    background: #0002;
  }

  66% {
    box-shadow: min(2.5rem, 30px) 0 #0002, max(-2.5rem, -30px) 0 #000;
    background: #0002;
  }

  100% {
    box-shadow: min(2.5rem, 30px) 0 #0002, max(-2.5rem, -30px) 0 #000;
    background: #000;
  }
}

@keyframes loaderTablet {
  0% {
    box-shadow: min(2.5rem, 30px) 0 #000, max(-2.5rem, -30px) 0 #0002;
    background: #000;
  }

  33% {
    box-shadow: min(2.5rem, 30px) 0 #000, max(-2.5rem, -30px) 0 #0002;
    background: #0002;
  }

  66% {
    box-shadow: min(2.5rem, 30px) 0 #0002, max(-2.5rem, -30px) 0 #000;
    background: #0002;
  }

  100% {
    box-shadow: min(2.5rem, 30px) 0 #0002, max(-2.5rem, -30px) 0 #000;
    background: #000;
  }
}

@-webkit-keyframes loaderDesktop {
  0% {
    box-shadow: min(2.5rem, 34px) 0 #000, max(-2.5rem, -34px) 0 #0002;
    background: #000;
  }

  33% {
    box-shadow: min(2.5rem, 34px) 0 #000, max(-2.5rem, -34px) 0 #0002;
    background: #0002;
  }

  66% {
    box-shadow: min(2.5rem, 34px) 0 #0002, max(-2.5rem, -34px) 0 #000;
    background: #0002;
  }

  100% {
    box-shadow: min(2.5rem, 34px) 0 #0002, max(-2.5rem, -34px) 0 #000;
    background: #000;
  }
}

@keyframes loaderDesktop {
  0% {
    box-shadow: min(2.5rem, 34px) 0 #000, max(-2.5rem, -34px) 0 #0002;
    background: #000;
  }

  33% {
    box-shadow: min(2.5rem, 34px) 0 #000, max(-2.5rem, -34px) 0 #0002;
    background: #0002;
  }

  66% {
    box-shadow: min(2.5rem, 34px) 0 #0002, max(-2.5rem, -34px) 0 #000;
    background: #0002;
  }

  100% {
    box-shadow: min(2.5rem, 34px) 0 #0002, max(-2.5rem, -34px) 0 #000;
    background: #000;
  }
}

/* Элементы */

.page {
  font-size: min((calc(100vw / 320 * 10)), 48px);
  scrollbar-gutter: stable;
}

.page__body {
  height: 100vh;
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--dark);
}

.page__container {
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-height: 100%;
}

.page__content {
  width: min(32rem, 500px);
}

.select {
  position: relative;
  font-family: var(--font-emoji);

  &::after {
    content: "";
    top: 50%;
    right: 12px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    padding: min(2.2rem, 30px) min(1.6rem, 22px);
    background-image: url("image/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: min(3rem, 41px) min(3rem, 41px);
    cursor: url("image/cursor-pointer.svg"), pointer;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
}

.select--shown::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.select--hide .select__options-list {
  display: none;
}

.select--shown .select__options-list {
  display: block;
  z-index: 1;
}

.selelct__field {
  width: 100%;
}

.select__options-list {
  position: absolute;
  height: auto;
  max-height: min(30rem, 350px);
  margin: 0;
  margin-top: 12px;
  padding: 0;
  list-style: none;
  text-align: left;
  outline: 2px solid var(--dark);
  border-radius: 8px;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.select__option {
  padding: min(1.6rem, 18px);
  font-size: min(1.8rem, 22px);
  font-family: inherit;
  line-height: 130%;
  background-color: var(--light);
  cursor: url("image/cursor-pointer.svg"), pointer;
  scroll-snap-align: start;

  &:hover,
  &:focus,
  &:active,
  &:focus-visible {
    background-color: var(--selected);
  }
}

.select__option--selected {
  background-color: var(--selected);
}

.currency-converter {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: min(3rem, 40px);
  text-align: center;
  background-color: var(--light);
  border-radius: 16px;
}

.currency-converter__title {
  max-width: 80%;
  margin: 0;
  margin-bottom: min(2.4rem, 26px);
  font-size: min(3.6rem, 48px);
  line-height: 130%;
  text-wrap: balance;
}

.currency-converter__label {
  margin-bottom: min(1rem, 12px);
  font-size: min(1.6rem, 22px);
  line-height: 130%;
  text-transform: uppercase;
}

.currency-converter__amount {
  width: min(20rem, 275px);
  margin-bottom: min(3.2rem, 38px);
}

.currency-converter__select {
  width: min(25.5rem, 350px);
}

.currency-converter__select--from {
  margin-bottom: min(1rem, 12px);
  z-index: 2;
}

.currency-converter__capture {
  margin: 0;
  margin-bottom: min(1rem, 12px);
  font-size: min(2.4rem, 32px);
  line-height: 100%;
  text-transform: uppercase;
}

.currency-converter__button {
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-width: min(20.5rem, 282px);
  min-height: min(5.6rem, 70px);
  margin-top: min(3.2rem, 36px);
  margin-bottom: min(2rem, 26px);
  padding: min(1.6rem, 20px);
  font-family: inherit;
  font-size: min(1.6rem, 22px);
  line-height: 130%;
  text-transform: uppercase;
  color: var(--light);
  background-color: var(--dark);
  outline: 2px solid var(--dark);
  border: none;
  border-radius: 8px;
  cursor: url("image/cursor-pointer.svg"), pointer;
  transition: all 0.3s linear;

  &:hover,
  &:focus-visible,
  &:active {
    color: var(--dark);
    background-color: var(--light);
  }

  &:disabled {
    color: var(--dark);
    background-color: var(--light);
    cursor: url("image/cursor-disabled.svg"), not-allowed;
  }
}

.bottom-caption {
  margin: 0;
  font-size: min(1.8rem, 22px);
  line-height: 130%;
  font-weight: 700;
  text-transform: uppercase;
  text-wrap: pretty;
}

.currency-converter__result {
  margin-bottom: min(1rem, 14px);
}

.currency-converter__error {
  color: var(--error);
}
